.home-link:hover > li > * {
    text-decoration: underline;
}

/* .home-link:hover .user-icon {
    outline: 2px solid var(--pico-primary) !important;
} */

[data-theme="light"] .user-icon {
    outline: 1px solid var(--pico-h4-color);
}

.gh-icon > path {
    fill: var(--pico-h4-color);
    transition: fill var(--pico-transition);
    -webkit-transition: fill var(--pico-transition);
    -ms-transition: fill var(--pico-transition);
}

.gh-icon:hover > path {
    fill: var(--pico-primary-hover);
}

.color-mode-icon {
    cursor: pointer;
}

.color-mode-icon > * {
    fill: var(--pico-h4-color);
    transition: fill var(--pico-transition);
    -webkit-transition: fill var(--pico-transition);
    -ms-transition: fill var(--pico-transition);
}

.color-mode-icon:hover > * {
    fill: var(--pico-primary);
}

:root[data-theme="light"] .dark-mode-icon {
    display: none;
}

:root[data-theme="dark"] .light-mode-icon {
    display: none;
}

.always-display > * {
    display: inline !important;
}

.dropdown.theme-dropdown > *::after {
    content: unset;
}

.dropdown.theme-dropdown summary {
    box-shadow: unset !important;
    background-color: unset !important;
    padding-right: 0px !important;
    border: unset !important;
    /* margin-right: -4px; */ /* uncomment if using arrow*/
}

.dropdown.theme-dropdown a {
    padding: 4px 12px 4px 4px !important;
}

li:hover > a > .color-mode-icon > * {
    fill: var(--pico-primary);
}
