.particlesContainer > * {
    background: #036a6a;
}

.pink.particlesContainer > * {
    background: #f42c6f;
}

.particle {
    position: fixed;
    border-radius: 50%;
    z-index: -1;
    filter: blur(0.15em);
    transition: background-color 1000ms linear;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
}

@media (min-width: 0px) {
    .particle {
        display: none;
    }
}
@media (min-width: 750px) {
    .particle {
        display: inline;
    }
}

@-webkit-keyframes particle-animation-1 {
    100% {
        transform: translate3d(33vw, 40vh, 42px);
    }
}

@keyframes particle-animation-1 {
    100% {
        transform: translate3d(33vw, 40vh, 42px);
    }
}
.particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s alternate infinite;
    animation: particle-animation-1 60s alternate infinite;
    opacity: 0.65;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    transform: translate3d(26vw, 49vh, 41px);
}

@-webkit-keyframes particle-animation-2 {
    100% {
        transform: translate3d(41vw, 88vh, 57px);
    }
}

@keyframes particle-animation-2 {
    100% {
        transform: translate3d(41vw, 88vh, 57px);
    }
}
.particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s alternate infinite;
    animation: particle-animation-2 60s alternate infinite;
    opacity: 0.16;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    transform: translate3d(-8vw, 88vh, 16px);
}

@-webkit-keyframes particle-animation-3 {
    100% {
        transform: translate3d(-21vw, 64vh, 34px);
    }
}

@keyframes particle-animation-3 {
    100% {
        transform: translate3d(-21vw, 64vh, 34px);
    }
}
.particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s alternate infinite;
    animation: particle-animation-3 60s alternate infinite;
    opacity: 0.74;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    transform: translate3d(7vw, 66vh, 62px);
}

@-webkit-keyframes particle-animation-4 {
    100% {
        transform: translate3d(53vw, 35vh, 72px);
    }
}

@keyframes particle-animation-4 {
    100% {
        transform: translate3d(53vw, 35vh, 72px);
    }
}
.particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s alternate infinite;
    animation: particle-animation-4 60s alternate infinite;
    opacity: 0.86;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    transform: translate3d(-11vw, 88vh, 57px);
}

@-webkit-keyframes particle-animation-5 {
    100% {
        transform: translate3d(31vw, 90vh, 34px);
    }
}

@keyframes particle-animation-5 {
    100% {
        transform: translate3d(31vw, 90vh, 34px);
    }
}
.particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s alternate infinite;
    animation: particle-animation-5 60s alternate infinite;
    opacity: 0.63;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    transform: translate3d(-16vw, 10vh, 66px);
}

@-webkit-keyframes particle-animation-6 {
    100% {
        transform: translate3d(35vw, 76vh, 61px);
    }
}

@keyframes particle-animation-6 {
    100% {
        transform: translate3d(35vw, 76vh, 61px);
    }
}
.particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s alternate infinite;
    animation: particle-animation-6 60s alternate infinite;
    opacity: 0.95;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    transform: translate3d(-14vw, 36vh, 43px);
}

@-webkit-keyframes particle-animation-7 {
    100% {
        transform: translate3d(63vw, 85vh, 75px);
    }
}

@keyframes particle-animation-7 {
    100% {
        transform: translate3d(63vw, 85vh, 75px);
    }
}
.particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s alternate infinite;
    animation: particle-animation-7 60s alternate infinite;
    opacity: 0.78;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    transform: translate3d(63vw, 41vh, 1px);
}

@-webkit-keyframes particle-animation-8 {
    100% {
        transform: translate3d(13vw, 85vh, 90px);
    }
}

@keyframes particle-animation-8 {
    100% {
        transform: translate3d(13vw, 85vh, 90px);
    }
}
.particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s alternate infinite;
    animation: particle-animation-8 60s alternate infinite;
    opacity: 0.53;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    transform: translate3d(13vw, 79vh, 79px);
}

@-webkit-keyframes particle-animation-9 {
    100% {
        transform: translate3d(16vw, 88vh, 85px);
    }
}

@keyframes particle-animation-9 {
    100% {
        transform: translate3d(16vw, 88vh, 85px);
    }
}
.particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s alternate infinite;
    animation: particle-animation-9 60s alternate infinite;
    opacity: 0.12;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    transform: translate3d(-3vw, 49vh, 15px);
}

@-webkit-keyframes particle-animation-10 {
    100% {
        transform: translate3d(50vw, 67vh, 33px);
    }
}

@keyframes particle-animation-10 {
    100% {
        transform: translate3d(50vw, 67vh, 33px);
    }
}
.particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s alternate infinite;
    animation: particle-animation-10 60s alternate infinite;
    opacity: 0.63;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    transform: translate3d(24vw, 51vh, 97px);
}

@-webkit-keyframes particle-animation-11 {
    100% {
        transform: translate3d(-11vw, 38vh, 17px);
    }
}

@keyframes particle-animation-11 {
    100% {
        transform: translate3d(-11vw, 38vh, 17px);
    }
}
.particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s alternate infinite;
    animation: particle-animation-11 60s alternate infinite;
    opacity: 0.71;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    transform: translate3d(10vw, 85vh, 68px);
}

@-webkit-keyframes particle-animation-12 {
    100% {
        transform: translate3d(1vw, 77vh, 98px);
    }
}

@keyframes particle-animation-12 {
    100% {
        transform: translate3d(1vw, 77vh, 98px);
    }
}
.particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s alternate infinite;
    animation: particle-animation-12 60s alternate infinite;
    opacity: 0.26;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    transform: translate3d(46vw, 67vh, 50px);
}

@-webkit-keyframes particle-animation-13 {
    100% {
        transform: translate3d(-16vw, 85vh, 13px);
    }
}

@keyframes particle-animation-13 {
    100% {
        transform: translate3d(-16vw, 85vh, 13px);
    }
}
.particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s alternate infinite;
    animation: particle-animation-13 60s alternate infinite;
    opacity: 0.52;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    transform: translate3d(38vw, 52vh, 1px);
}

@-webkit-keyframes particle-animation-14 {
    100% {
        transform: translate3d(34vw, 80vh, 38px);
    }
}

@keyframes particle-animation-14 {
    100% {
        transform: translate3d(34vw, 80vh, 38px);
    }
}
.particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s alternate infinite;
    animation: particle-animation-14 60s alternate infinite;
    opacity: 0.77;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    transform: translate3d(-18vw, 41vh, 42px);
}

@-webkit-keyframes particle-animation-15 {
    100% {
        transform: translate3d(-23vw, 86vh, 88px);
    }
}

@keyframes particle-animation-15 {
    100% {
        transform: translate3d(-23vw, 86vh, 88px);
    }
}
.particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s alternate infinite;
    animation: particle-animation-15 60s alternate infinite;
    opacity: 0.34;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    transform: translate3d(-20vw, 8vh, 55px);
}

@-webkit-keyframes particle-animation-16 {
    100% {
        transform: translate3d(13vw, 33vh, 40px);
    }
}

@keyframes particle-animation-16 {
    100% {
        transform: translate3d(13vw, 33vh, 40px);
    }
}
.particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s alternate infinite;
    animation: particle-animation-16 60s alternate infinite;
    opacity: 0.06;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    transform: translate3d(2vw, 19vh, 35px);
}

@-webkit-keyframes particle-animation-17 {
    100% {
        transform: translate3d(61vw, 6vh, 34px);
    }
}

@keyframes particle-animation-17 {
    100% {
        transform: translate3d(61vw, 6vh, 34px);
    }
}
.particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s alternate infinite;
    animation: particle-animation-17 60s alternate infinite;
    opacity: 0.13;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    transform: translate3d(-12vw, 29vh, 76px);
}

@-webkit-keyframes particle-animation-18 {
    100% {
        transform: translate3d(-10vw, 74vh, 88px);
    }
}

@keyframes particle-animation-18 {
    100% {
        transform: translate3d(-10vw, 74vh, 88px);
    }
}
.particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s alternate infinite;
    animation: particle-animation-18 60s alternate infinite;
    opacity: 0.08;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    transform: translate3d(38vw, 60vh, 18px);
}

@-webkit-keyframes particle-animation-19 {
    100% {
        transform: translate3d(-10vw, 8vh, 29px);
    }
}

@keyframes particle-animation-19 {
    100% {
        transform: translate3d(-10vw, 8vh, 29px);
    }
}
.particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s alternate infinite;
    animation: particle-animation-19 60s alternate infinite;
    opacity: 0.12;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    transform: translate3d(45vw, 87vh, 33px);
}

@-webkit-keyframes particle-animation-20 {
    100% {
        transform: translate3d(-2vw, 58vh, 75px);
    }
}

@keyframes particle-animation-20 {
    100% {
        transform: translate3d(-2vw, 58vh, 75px);
    }
}
.particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s alternate infinite;
    animation: particle-animation-20 60s alternate infinite;
    opacity: 0.6;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    transform: translate3d(45vw, 82vh, 7px);
}

@-webkit-keyframes particle-animation-21 {
    100% {
        transform: translate3d(35vw, 1vh, 36px);
    }
}

@keyframes particle-animation-21 {
    100% {
        transform: translate3d(35vw, 1vh, 36px);
    }
}
.particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s alternate infinite;
    animation: particle-animation-21 60s alternate infinite;
    opacity: 0.21;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    transform: translate3d(13vw, 85vh, 61px);
}

@-webkit-keyframes particle-animation-22 {
    100% {
        transform: translate3d(27vw, 17vh, 1px);
    }
}

@keyframes particle-animation-22 {
    100% {
        transform: translate3d(27vw, 17vh, 1px);
    }
}
.particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s alternate infinite;
    animation: particle-animation-22 60s alternate infinite;
    opacity: 0.77;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    transform: translate3d(-15vw, 75vh, 41px);
}

@-webkit-keyframes particle-animation-23 {
    100% {
        transform: translate3d(5vw, 2vh, 99px);
    }
}

@keyframes particle-animation-23 {
    100% {
        transform: translate3d(5vw, 2vh, 99px);
    }
}
.particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s alternate infinite;
    animation: particle-animation-23 60s alternate infinite;
    opacity: 0.37;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    transform: translate3d(59vw, 56vh, 10px);
}

@-webkit-keyframes particle-animation-24 {
    100% {
        transform: translate3d(-16vw, 60vh, 32px);
    }
}

@keyframes particle-animation-24 {
    100% {
        transform: translate3d(-16vw, 60vh, 32px);
    }
}
.particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s alternate infinite;
    animation: particle-animation-24 60s alternate infinite;
    opacity: 0.9;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    transform: translate3d(51vw, 23vh, 60px);
}

@-webkit-keyframes particle-animation-25 {
    100% {
        transform: translate3d(1vw, 18vh, 50px);
    }
}

@keyframes particle-animation-25 {
    100% {
        transform: translate3d(1vw, 18vh, 50px);
    }
}
.particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s alternate infinite;
    animation: particle-animation-25 60s alternate infinite;
    opacity: 0.17;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    transform: translate3d(48vw, 32vh, 75px);
}

@-webkit-keyframes particle-animation-26 {
    100% {
        transform: translate3d(-22vw, 15vh, 90px);
    }
}

@keyframes particle-animation-26 {
    100% {
        transform: translate3d(-22vw, 15vh, 90px);
    }
}
.particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s alternate infinite;
    animation: particle-animation-26 60s alternate infinite;
    opacity: 0.21;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    transform: translate3d(14vw, 44vh, 69px);
}

@-webkit-keyframes particle-animation-27 {
    100% {
        transform: translate3d(49vw, 16vh, 90px);
    }
}

@keyframes particle-animation-27 {
    100% {
        transform: translate3d(49vw, 16vh, 90px);
    }
}
.particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s alternate infinite;
    animation: particle-animation-27 60s alternate infinite;
    opacity: 0.37;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    transform: translate3d(61vw, 65vh, 55px);
}

@-webkit-keyframes particle-animation-28 {
    100% {
        transform: translate3d(48vw, 4vh, 46px);
    }
}

@keyframes particle-animation-28 {
    100% {
        transform: translate3d(48vw, 4vh, 46px);
    }
}
.particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s alternate infinite;
    animation: particle-animation-28 60s alternate infinite;
    opacity: 0.12;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    transform: translate3d(32vw, 17vh, 60px);
}

@-webkit-keyframes particle-animation-29 {
    100% {
        transform: translate3d(51vw, 24vh, 32px);
    }
}

@keyframes particle-animation-29 {
    100% {
        transform: translate3d(51vw, 24vh, 32px);
    }
}
.particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s alternate infinite;
    animation: particle-animation-29 60s alternate infinite;
    opacity: 0.36;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    transform: translate3d(42vw, 70vh, 14px);
}

@-webkit-keyframes particle-animation-30 {
    100% {
        transform: translate3d(61vw, 21vh, 47px);
    }
}

@keyframes particle-animation-30 {
    100% {
        transform: translate3d(61vw, 21vh, 47px);
    }
}
.particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s alternate infinite;
    animation: particle-animation-30 60s alternate infinite;
    opacity: 0.39;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    transform: translate3d(50vw, 8vh, 85px);
}

@-webkit-keyframes particle-animation-31 {
    100% {
        transform: translate3d(57vw, 13vh, 25px);
    }
}

@keyframes particle-animation-31 {
    100% {
        transform: translate3d(57vw, 13vh, 25px);
    }
}
.particle:nth-child(31) {
    -webkit-animation: particle-animation-31 60s alternate infinite;
    animation: particle-animation-31 60s alternate infinite;
    opacity: 1;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -6.2s;
    animation-delay: -6.2s;
    transform: translate3d(65vw, 89vh, 94px);
}

@-webkit-keyframes particle-animation-32 {
    100% {
        transform: translate3d(-7vw, 71vh, 53px);
    }
}

@keyframes particle-animation-32 {
    100% {
        transform: translate3d(-7vw, 71vh, 53px);
    }
}
.particle:nth-child(32) {
    -webkit-animation: particle-animation-32 60s alternate infinite;
    animation: particle-animation-32 60s alternate infinite;
    opacity: 0.68;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -6.4s;
    animation-delay: -6.4s;
    transform: translate3d(23vw, 40vh, 4px);
}

@-webkit-keyframes particle-animation-33 {
    100% {
        transform: translate3d(15vw, 72vh, 69px);
    }
}

@keyframes particle-animation-33 {
    100% {
        transform: translate3d(15vw, 72vh, 69px);
    }
}
.particle:nth-child(33) {
    -webkit-animation: particle-animation-33 60s alternate infinite;
    animation: particle-animation-33 60s alternate infinite;
    opacity: 0.42;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -6.6s;
    animation-delay: -6.6s;
    transform: translate3d(45vw, 13vh, 89px);
}

@-webkit-keyframes particle-animation-34 {
    100% {
        transform: translate3d(8vw, 44vh, 31px);
    }
}

@keyframes particle-animation-34 {
    100% {
        transform: translate3d(8vw, 44vh, 31px);
    }
}
.particle:nth-child(34) {
    -webkit-animation: particle-animation-34 60s alternate infinite;
    animation: particle-animation-34 60s alternate infinite;
    opacity: 0.6;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -6.8s;
    animation-delay: -6.8s;
    transform: translate3d(27vw, 57vh, 100px);
}

@-webkit-keyframes particle-animation-35 {
    100% {
        transform: translate3d(47vw, 48vh, 3px);
    }
}

@keyframes particle-animation-35 {
    100% {
        transform: translate3d(47vw, 48vh, 3px);
    }
}
.particle:nth-child(35) {
    -webkit-animation: particle-animation-35 60s alternate infinite;
    animation: particle-animation-35 60s alternate infinite;
    opacity: 0.69;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -7s;
    animation-delay: -7s;
    transform: translate3d(4vw, 34vh, 3px);
}

@-webkit-keyframes particle-animation-36 {
    100% {
        transform: translate3d(61vw, 57vh, 53px);
    }
}

@keyframes particle-animation-36 {
    100% {
        transform: translate3d(61vw, 57vh, 53px);
    }
}
.particle:nth-child(36) {
    -webkit-animation: particle-animation-36 60s alternate infinite;
    animation: particle-animation-36 60s alternate infinite;
    opacity: 0.59;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -7.2s;
    animation-delay: -7.2s;
    transform: translate3d(3vw, 52vh, 21px);
}

@-webkit-keyframes particle-animation-37 {
    100% {
        transform: translate3d(-20vw, 5vh, 13px);
    }
}

@keyframes particle-animation-37 {
    100% {
        transform: translate3d(-20vw, 5vh, 13px);
    }
}
.particle:nth-child(37) {
    -webkit-animation: particle-animation-37 60s alternate infinite;
    animation: particle-animation-37 60s alternate infinite;
    opacity: 0.02;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -7.4s;
    animation-delay: -7.4s;
    transform: translate3d(-4vw, 49vh, 89px);
}

@-webkit-keyframes particle-animation-38 {
    100% {
        transform: translate3d(64vw, 7vh, 75px);
    }
}

@keyframes particle-animation-38 {
    100% {
        transform: translate3d(64vw, 7vh, 75px);
    }
}
.particle:nth-child(38) {
    -webkit-animation: particle-animation-38 60s alternate infinite;
    animation: particle-animation-38 60s alternate infinite;
    opacity: 0.81;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -7.6s;
    animation-delay: -7.6s;
    transform: translate3d(35vw, 82vh, 84px);
}

@-webkit-keyframes particle-animation-39 {
    100% {
        transform: translate3d(-21vw, 56vh, 91px);
    }
}

@keyframes particle-animation-39 {
    100% {
        transform: translate3d(-21vw, 56vh, 91px);
    }
}
.particle:nth-child(39) {
    -webkit-animation: particle-animation-39 60s alternate infinite;
    animation: particle-animation-39 60s alternate infinite;
    opacity: 0.42;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -7.8s;
    animation-delay: -7.8s;
    transform: translate3d(55vw, 43vh, 61px);
}

@-webkit-keyframes particle-animation-40 {
    100% {
        transform: translate3d(-9vw, 34vh, 5px);
    }
}

@keyframes particle-animation-40 {
    100% {
        transform: translate3d(-9vw, 34vh, 5px);
    }
}
.particle:nth-child(40) {
    -webkit-animation: particle-animation-40 60s alternate infinite;
    animation: particle-animation-40 60s alternate infinite;
    opacity: 0.52;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
    transform: translate3d(42vw, 42vh, 56px);
}

@-webkit-keyframes particle-animation-41 {
    100% {
        transform: translate3d(42vw, 67vh, 57px);
    }
}

@keyframes particle-animation-41 {
    100% {
        transform: translate3d(42vw, 67vh, 57px);
    }
}
.particle:nth-child(41) {
    -webkit-animation: particle-animation-41 60s alternate infinite;
    animation: particle-animation-41 60s alternate infinite;
    opacity: 0.6;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -8.2s;
    animation-delay: -8.2s;
    transform: translate3d(51vw, 79vh, 30px);
}

@-webkit-keyframes particle-animation-42 {
    100% {
        transform: translate3d(61vw, 85vh, 17px);
    }
}

@keyframes particle-animation-42 {
    100% {
        transform: translate3d(61vw, 85vh, 17px);
    }
}
.particle:nth-child(42) {
    -webkit-animation: particle-animation-42 60s alternate infinite;
    animation: particle-animation-42 60s alternate infinite;
    opacity: 0.13;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -8.4s;
    animation-delay: -8.4s;
    transform: translate3d(59vw, 8vh, 55px);
}

@-webkit-keyframes particle-animation-43 {
    100% {
        transform: translate3d(48vw, 28vh, 14px);
    }
}

@keyframes particle-animation-43 {
    100% {
        transform: translate3d(48vw, 28vh, 14px);
    }
}
.particle:nth-child(43) {
    -webkit-animation: particle-animation-43 60s alternate infinite;
    animation: particle-animation-43 60s alternate infinite;
    opacity: 0.74;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -8.6s;
    animation-delay: -8.6s;
    transform: translate3d(36vw, 79vh, 18px);
}

@-webkit-keyframes particle-animation-44 {
    100% {
        transform: translate3d(57vw, 62vh, 48px);
    }
}

@keyframes particle-animation-44 {
    100% {
        transform: translate3d(57vw, 62vh, 48px);
    }
}
.particle:nth-child(44) {
    -webkit-animation: particle-animation-44 60s alternate infinite;
    animation: particle-animation-44 60s alternate infinite;
    opacity: 0.32;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -8.8s;
    animation-delay: -8.8s;
    transform: translate3d(-4vw, 85vh, 47px);
}

@-webkit-keyframes particle-animation-45 {
    100% {
        transform: translate3d(37vw, 83vh, 61px);
    }
}

@keyframes particle-animation-45 {
    100% {
        transform: translate3d(37vw, 83vh, 61px);
    }
}
.particle:nth-child(45) {
    -webkit-animation: particle-animation-45 60s alternate infinite;
    animation: particle-animation-45 60s alternate infinite;
    opacity: 0.09;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -9s;
    animation-delay: -9s;
    transform: translate3d(26vw, 40vh, 58px);
}

@-webkit-keyframes particle-animation-46 {
    100% {
        transform: translate3d(37vw, 40vh, 8px);
    }
}

@keyframes particle-animation-46 {
    100% {
        transform: translate3d(37vw, 40vh, 8px);
    }
}
.particle:nth-child(46) {
    -webkit-animation: particle-animation-46 60s alternate infinite;
    animation: particle-animation-46 60s alternate infinite;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -9.2s;
    animation-delay: -9.2s;
    transform: translate3d(34vw, 1vh, 61px);
}

@-webkit-keyframes particle-animation-47 {
    100% {
        transform: translate3d(57vw, 69vh, 41px);
    }
}

@keyframes particle-animation-47 {
    100% {
        transform: translate3d(57vw, 69vh, 41px);
    }
}
.particle:nth-child(47) {
    -webkit-animation: particle-animation-47 60s alternate infinite;
    animation: particle-animation-47 60s alternate infinite;
    opacity: 0.01;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -9.4s;
    animation-delay: -9.4s;
    transform: translate3d(58vw, 71vh, 83px);
}

@-webkit-keyframes particle-animation-48 {
    100% {
        transform: translate3d(-24vw, 52vh, 55px);
    }
}

@keyframes particle-animation-48 {
    100% {
        transform: translate3d(-24vw, 52vh, 55px);
    }
}
.particle:nth-child(48) {
    -webkit-animation: particle-animation-48 60s alternate infinite;
    animation: particle-animation-48 60s alternate infinite;
    opacity: 0.75;
    height: 80px;
    width: 80px;
    -webkit-animation-delay: -9.6s;
    animation-delay: -9.6s;
    transform: translate3d(8vw, 51vh, 81px);
}

@-webkit-keyframes particle-animation-49 {
    100% {
        transform: translate3d(34vw, 11vh, 81px);
    }
}

@keyframes particle-animation-49 {
    100% {
        transform: translate3d(34vw, 11vh, 81px);
    }
}
.particle:nth-child(49) {
    -webkit-animation: particle-animation-49 60s alternate infinite;
    animation: particle-animation-49 60s alternate infinite;
    opacity: 0.49;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -9.8s;
    animation-delay: -9.8s;
    transform: translate3d(-1vw, 82vh, 27px);
}

@-webkit-keyframes particle-animation-50 {
    100% {
        transform: translate3d(-3vw, 78vh, 62px);
    }
}

@keyframes particle-animation-50 {
    100% {
        transform: translate3d(-3vw, 78vh, 62px);
    }
}
.particle:nth-child(50) {
    -webkit-animation: particle-animation-50 60s alternate infinite;
    animation: particle-animation-50 60s alternate infinite;
    opacity: 0.03;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -10s;
    animation-delay: -10s;
    transform: translate3d(27vw, 84vh, 78px);
}

@-webkit-keyframes particle-animation-51 {
    100% {
        transform: translate3d(-14vw, 81vh, 29px);
    }
}

@keyframes particle-animation-51 {
    100% {
        transform: translate3d(-14vw, 81vh, 29px);
    }
}
.particle:nth-child(51) {
    -webkit-animation: particle-animation-51 60s alternate infinite;
    animation: particle-animation-51 60s alternate infinite;
    opacity: 0.49;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -10.2s;
    animation-delay: -10.2s;
    transform: translate3d(18vw, 77vh, 17px);
}

@-webkit-keyframes particle-animation-52 {
    100% {
        transform: translate3d(5vw, 75vh, 25px);
    }
}

@keyframes particle-animation-52 {
    100% {
        transform: translate3d(5vw, 75vh, 25px);
    }
}
.particle:nth-child(52) {
    -webkit-animation: particle-animation-52 60s alternate infinite;
    animation: particle-animation-52 60s alternate infinite;
    opacity: 0.94;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -10.4s;
    animation-delay: -10.4s;
    transform: translate3d(-11vw, 55vh, 76px);
}

@-webkit-keyframes particle-animation-53 {
    100% {
        transform: translate3d(15vw, 16vh, 76px);
    }
}

@keyframes particle-animation-53 {
    100% {
        transform: translate3d(15vw, 16vh, 76px);
    }
}
.particle:nth-child(53) {
    -webkit-animation: particle-animation-53 60s alternate infinite;
    animation: particle-animation-53 60s alternate infinite;
    opacity: 0.38;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -10.6s;
    animation-delay: -10.6s;
    transform: translate3d(17vw, 15vh, 70px);
}

@-webkit-keyframes particle-animation-54 {
    100% {
        transform: translate3d(46vw, 80vh, 87px);
    }
}

@keyframes particle-animation-54 {
    100% {
        transform: translate3d(46vw, 80vh, 87px);
    }
}
.particle:nth-child(54) {
    -webkit-animation: particle-animation-54 60s alternate infinite;
    animation: particle-animation-54 60s alternate infinite;
    opacity: 0.14;
    height: 35px;
    width: 35px;
    -webkit-animation-delay: -10.8s;
    animation-delay: -10.8s;
    transform: translate3d(12vw, 54vh, 41px);
}

@-webkit-keyframes particle-animation-55 {
    100% {
        transform: translate3d(32vw, 62vh, 41px);
    }
}

@keyframes particle-animation-55 {
    100% {
        transform: translate3d(32vw, 62vh, 41px);
    }
}
.particle:nth-child(55) {
    -webkit-animation: particle-animation-55 60s alternate infinite;
    animation: particle-animation-55 60s alternate infinite;
    opacity: 0.95;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -11s;
    animation-delay: -11s;
    transform: translate3d(-7vw, 57vh, 56px);
}

@-webkit-keyframes particle-animation-56 {
    100% {
        transform: translate3d(34vw, 62vh, 72px);
    }
}

@keyframes particle-animation-56 {
    100% {
        transform: translate3d(34vw, 62vh, 72px);
    }
}
.particle:nth-child(56) {
    -webkit-animation: particle-animation-56 60s alternate infinite;
    animation: particle-animation-56 60s alternate infinite;
    opacity: 0.22;
    height: 65px;
    width: 65px;
    -webkit-animation-delay: -11.2s;
    animation-delay: -11.2s;
    transform: translate3d(22vw, 28vh, 97px);
}

@-webkit-keyframes particle-animation-57 {
    100% {
        transform: translate3d(-10vw, 56vh, 58px);
    }
}

@keyframes particle-animation-57 {
    100% {
        transform: translate3d(-10vw, 56vh, 58px);
    }
}
.particle:nth-child(57) {
    -webkit-animation: particle-animation-57 60s alternate infinite;
    animation: particle-animation-57 60s alternate infinite;
    opacity: 0.75;
    height: 20px;
    width: 20px;
    -webkit-animation-delay: -11.4s;
    animation-delay: -11.4s;
    transform: translate3d(9vw, 28vh, 7px);
}

@-webkit-keyframes particle-animation-58 {
    100% {
        transform: translate3d(41vw, 71vh, 35px);
    }
}

@keyframes particle-animation-58 {
    100% {
        transform: translate3d(41vw, 71vh, 35px);
    }
}
.particle:nth-child(58) {
    -webkit-animation: particle-animation-58 60s alternate infinite;
    animation: particle-animation-58 60s alternate infinite;
    opacity: 0.27;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -11.6s;
    animation-delay: -11.6s;
    transform: translate3d(-4vw, 14vh, 64px);
}

@-webkit-keyframes particle-animation-59 {
    100% {
        transform: translate3d(8vw, 38vh, 3px);
    }
}

@keyframes particle-animation-59 {
    100% {
        transform: translate3d(8vw, 38vh, 3px);
    }
}
.particle:nth-child(59) {
    -webkit-animation: particle-animation-59 60s alternate infinite;
    animation: particle-animation-59 60s alternate infinite;
    opacity: 0.19;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -11.8s;
    animation-delay: -11.8s;
    transform: translate3d(45vw, 54vh, 35px);
}

@-webkit-keyframes particle-animation-60 {
    100% {
        transform: translate3d(23vw, 63vh, 85px);
    }
}

@keyframes particle-animation-60 {
    100% {
        transform: translate3d(23vw, 63vh, 85px);
    }
}
.particle:nth-child(60) {
    -webkit-animation: particle-animation-60 60s alternate infinite;
    animation: particle-animation-60 60s alternate infinite;
    opacity: 0.64;
    height: 50px;
    width: 50px;
    -webkit-animation-delay: -12s;
    animation-delay: -12s;
    transform: translate3d(57vw, 1vh, 22px);
}
